.largeButton {
  border: 1px solid #3897f0;
  width: 268px;
  padding: 5px 9px;
  cursor: pointer;
  height: 32px;
  text-transform: inherit;
  text-overflow: ellipsis;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: "center";
  line-height: 18px;
}
.FbLogo {
  width: 20px;
  margin-right: 10px;
  margin-top: -2px;
  color: white;
}
.smallButton {
  border: 1px solid #3897f0;
  /* width: 100px; */
  padding: 5px 9px;
  cursor: pointer;
  text-transform: inherit;
  text-overflow: ellipsis;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.mediumButton {
  border: 1px solid #3897f0;
  width: 100px;
  padding: 5px 9px;
  cursor: pointer;
  text-transform: inherit;
  text-overflow: ellipsis;
  box-sizing: border-box;
  font-weight: 600;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
@font-face {
  font-family: "Billabong";
  src: url("../Fonts/Billabong.ttf");
}
.card {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding-bottom: 30px;
  width: 350px;
}
.instaLogo {
  display: block;
  font-size: 50px;
  padding: 0;
  border: 0;
  font-family: "Billabong";
  vertical-align: baseline;
  margin: 22px auto 12px;
}
.subtitle {
  font-weight: 600;
  line-height: 20px;
  font-size: 17px;
  margin: 0 40px 10px;
  color: #999;
  text-align: center;
}
.input {
  border: 1px solid lightgray;
  background: #fafafa;
  height: 40px;
  font-size: 12px;
  padding: 11px 0px 11px 8px;
  width: 258px;
  border-radius: 2px;
}
.input1 {
  height: 15px;
  border: 1px solid lightgray;
  background: #fafafa;
  font-size: 12px;
  padding: 14px 0 2px 8px !important;
  width: 258px;
  border-radius: 2px;
}
.inputPlaceHolder {
  color: #999;
  font-size: 12px;
  height: 36px;
  left: -117px;
  line-height: 32px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  -webkit-transform-origin: left;
  transform-origin: left;
  transition: transform ease-out 0.1s;
  transition: transform ease-out 0.1s, -webkit-transform ease-out 0.1s;

  user-select: none;
  white-space: nowrap;
}
.inputPlaceHolder1 {
  color: #999;
  top: -8px;
  font-size: 10px;
  height: 36px;
  left: -152px;
  line-height: 32px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  transform-origin: left;
  transition: -webkit-transform ease-out 0.1s;
  transition: transform ease-out 0.1s;
  transition: transform ease-out 0.1s, -webkit-transform ease-out 0.1s;
  user-select: none;
  white-space: nowrap;
}
.inputStart {
  height: 36px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  padding: 0;
  position: relative;
  margin: 0;
  min-width: 0;
  margin-top: 10px;
}
.inputStart1 {
  height: 36px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  padding: 0;
  position: relative;
  margin: 0;
  min-width: 0;
  margin-top: 10px;
}
.downText {
  color: gray;
  font-size: 14px;
}
b {
  color: gray;
  font-size: 14px;
  font-weight: 600;
}
.imageBg {
  width: 410px;
  height: 600px;
  background: url("../assets//MobilePhonePic.png  ");
}
.images {
  margin-top: 96px;
  margin-left: 131px;
  width: 247px;
}
.haveAnAccount {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  width: 350px;
  padding: 22px 0px 22px;
  font-size: 14px;
}
.footer {
  margin-top: 80px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
  align-items: center;
}
.a {
  text-decoration: none;
  margin-left: 10px;
  color: #003569;
}
.footerParent {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.allLinks {
  display: flex;
}
.header {
  position: fixed;
  max-height: 80px;
  transition: max-height 0.15s ease-in;
  background: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  z-index: 1024;
  align-items: center;
  border: 1px solid lightgray;
}
.header-content {
  width: 70%;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.HeaderLogo {
  width: 160px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.logo {
  width: 30px;
}
.text {
  font-family: "Billabong";
  font-size: 30px;
}
.searchBar {
  width: 240px;
}

.linksIcon {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card1 {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  /* padding-bottom: 30px; */
  width: 600px;
}
.profilePicCircle {
  border: 2px solid #df386c;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100px;
}
.cardStorySize {
  border: 1px solid #e6e6e6;
  position: relative;
  width: 300px;
  margin-left: 30px;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.followButton {
  align-items: center;
  color: #3897f0;
  margin-top: -10px;
  display: flex;
  font-weight: 600;
  margin-right: 28px;
  justify-content: center;
  font-size: 12px;
}
.shareTitle {
  margin-left: 10px;
  font-weight: 600;
  /* margin-top: 6px; */
  font-size: 14px;
}
.cardHeader {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 10px;
  /* align-items: center; */
}
.cardFollow {
  border: 1px solid lightgray;
  background: white;
  width: 250px;
  margin-left: 30px;
  height: 185px;
  border-radius: 5px;
}
.lightgray {
  color: lightgray;
}
.textAlignRight {
  text-align: right;
}
.textAlignLeft {
  text-align: left;
}
.widthPer175 {
  width: 175%;
}
.backgroundWhite {
  background: white;
}
.gray {
  color: gray;
}
.marginRight5 {
  margin-right: 5px;
}
.height55 {
  height: 55px;
}
.fontWeigth7 {
  font-weight: 700;
}
.FontSize12 {
  font-size: 12px;
  color: gray;
}
.MarginTop10 {
  margin-top: 10px;
}
.MarginTop20 {
  margin-top: 20px;
}
.MarginTop5 {
  margin-top: 5px;
}
.fontSize14 {
  font-size: 14px;
}
.FontSize13 {
  font-size: 13px;
}
.fontWeigth6 {
  font-weight: 600;
}
.borderTopGray {
  border: 1px solid none;
  border-top-color: gray;
}
.borderGray {
  border: 1px solid lightgray;
}
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.gray {
  color: gray;
}
.textAlignLeft {
  text-align: left;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.overFlowX {
  overflow-y: hidden;
  overflow-x: auto;
}
.width30 {
  width: 30px;
}
.borderTransparent {
  border: 1px solid transparent;
}
.borderTopColorGray {
  border-top-color: lightgray;
}
.borderBottomColorGray {
  border-bottom-color: lightgray;
}
.colorGray {
  color: gray;
}
.marginBottom15 {
  margin-top: -15px;
}
.textAlignCenter {
  text-align: center;
}
.cursorPointer {
  cursor: pointer;
}
.width60 {
  width: 60px;
}
.widthPer68 {
  width: 68%;
}
.height60 {
  height: 60px;
}
.marginTop15 {
  margin-top: 10px;
}
.marginTop30 {
  margin-top: 30px;
}
.FlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profilePicCircle1 {
  border: 2px solid #df386c;
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.postImage {
  width: 100%;
}
.expression {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.comments {
  width: 98%;
  display: flex;
  margin-left: 15px;
  font-size: 14px;
  margin-top: 10px;
  justify-content: space-between;
}
.name {
  font-weight: 700;
}
.timeUpload {
  display: flex;
  color: gray;
  font-size: 10px;
  margin-top: 10px;
  text-align: left;
  margin-left: 15px;
}
.commentSendInput {
  height: 60px;
  width: 95%;
  border: 1px solid transparent;
  margin-top: 10px;
  border-top-color: lightgray;
  display: flex;
}
.commentName {
  width: 95%;
  height: 59px;
  border: none;

  font-size: 14px;
}
.commentName:focus {
  outline: none;
}
.line {
  font-size: 28px;
  /* display: none; */
  margin-bottom: 25px;
}
.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px 16px 13px;
  border: 1px solid transparent;
  border-bottom-color: lightgray;
  /* width: 400px; */
}
/* .spinner-border{
  width: 20px;
  height: 10px;
} */
.flexDirectionRow {
  flex-direction: row;
}
.flexWrap {
  flex-wrap: wrap;
}
.imageCard {
  margin-bottom: 20px;
  height: 280px;
  width: 264px;
  position: relative;
  margin-right: 28px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imageCard:hover .image {
  filter: grayscale(60%);
}
.imageCard1:hover .image {
  filter: grayscale(60%);
}

.imageCard:hover .middle {
  opacity: 1;
}
.imageCard1:hover .middle {
  opacity: 1;
}

/* .text {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
} */

.allNotifications {
  max-height: 362px;
  overflow: auto;
  overflow-x: hidden;
}
.bigImageCircle {
  width: 90px;
  height: 90px;
  border: 1px solid black;
  border-radius: 150px;
}
.headingExplore {
  width: 68%;
  display: flex;
  justify-content: space-between;
  margin-top: 135px;
}
.headingSuggested {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-top: 135px;
}
.explorePageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HeaderLogo:active {
  color: gray;
}
.cardSuggested {
  background: white;
  width: 550px;
}
.suggestedPageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageCard1 {
  margin-bottom: 20px;
  height: 280px;
  width: 280px;
  position: relative;
  margin-right: 28px;
}

.popUpNotification {
  max-height: 362px;
  max-width: 600px;
  /* overflow: auto; */
  /* overflow-x: hidden; */
  width: 450px;
}
.NotificationPersonName {
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px;
}

@media only screen and (max-width: 1200px) {
  .text {
    display: none;
  }
  .imageBg {
    display: none;
  }
  .footer {
    justify-content: center;
    align-items: center;
  }
  .footerParent {
    width: 80%;
  }
  .line {
    font-size: 28px;
    display: none;
    margin-bottom: 25px;
  }
  .allLinks {
    display: block;
  }
  .footerParent {
    width: 100%;
    display: block;
  }
  .header-content {
    width: 90%;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
  }
}

/* Profile Style */

.JustifyContentSpaceBetween {
  justify-content: space-between;
}
.marginLeft-28 {
  margin-left: -28px;
}
.marginLeft30 {
  margin-left: 30px;
}
.width120 {
  width: 120px;
}
.marginTop30 {
  margin-top: 30px;
}
.widthPer60 {
  width: 60%;
}
.widthPer55 {
  width: 55%;
}
.widthPer70 {
  width: 70%;
}
.width180 {
  width: 190px;
}
.widthPer85 {
  width: 85%;
}
.widthPer120 {
  width: 120%;
}
.widthPer69 {
  width: 69%;
}
.marginTop50 {
  margin-top: 50px;
}
.marginBottom10 {
  margin-bottom: 10px;
}
.colorDefault {
  color: #3897f0;
}
.marginBottom20 {
  margin-bottom: 20px;
}
.widthPer40 {
  width: 40%;
}
.marginTop5 {
  margin-top: 5px;
}
.pointer {
  cursor: pointer;
}
.height400 {
  height: 400px;
}
.height450 {
  height: 450px;
}
.flex-start {
  justify-content: flex-start;
}
.marginLeft5 {
  margin-left: 5px;
}
.marginTop-22 {
  margin-top: -22px;
}
.colorBlue {
  color: #3897f0;
}
.fontSize18 {
  font-size: 18px;
}
.fontSize24 {
  font-size: 24px;
}
.fontSize12 {
  font-size: 12px;
}
.width185 {
  width: 185px;
}
.widthPer100 {
  width: 100%;
}
.widthPer80 {
  width: 80%;
}
.heightPer100 {
  height: 100%;
}
.marginLeft10 {
  margin-left: 10px;
}
.height10 {
  height: 10px;
}
.marginLeft20 {
  margin-left: 20px;
}
.marginRight10 {
  margin-right: 10px;
}
.white {
  color: white;
}
.fontSize16 {
  font-size: 16px;
}

.profileCircle {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 100px;
}

.profilePage {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number {
  color: black;
  font-size: 16px;
}
.flexDirectionCol {
  flex-direction: column;
}
.width50 {
  width: 50%;
}
.profileTop {
  display: flex;
  margin-top: 130px;
  justify-content: center;
  align-items: center;
}
.data {
  width: 540px;
}
.nameHeading {
  font-size: 26px;
  font-weight: 100;
}

/* Setting Page */

.smallProfileCircle {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
}

@media only screen and (max-width: 1360px) {
  .imageCard {
    width: 30% !important;
    margin-right: 25px;
    height: 35% !important;
  }
}
@media only screen and (max-width: 1200px) {
  .imageCard {
    width: 30% !important;
    margin-right: 10px;
    height: 35% !important;
  }
}
@media only screen and (max-width: 1000px) {
  .StoryCardPlusSuggestion {
    display: none;
  }
  .header-content {
    width: 96%;
  }
  .exploreHeading {
    width: 90% !important;
  }
  .allImage {
    width: 100% !important;
  }
  .imageCard {
    width: 30% !important;
    margin-right: 5px;
    height: 35% !important;
  }
  .cardSlider {
    width: 95% !important;
  }
  .suggestionText {
    width: 90% !important;
  }
}
@media only screen and (max-width: 800px) {
  .cardSlider {
    display: none;
  }
  .headingExplore {
    display: none;
  }
  .suggestionText {
    display: none;
  }

  .card1 {
    width: 96%;
    justify-content: center;
    align-items: center;
  }
  .searchBar {
    /* display: none; */
    width: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .searchBar {
    display: none;
    /* width: 400px; */
  }

  .linksIcon {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
